{% extends "main.html" %}

{% block container %}
  <div class="md-content" data-md-component="content">
    <div class="md-content__inner kb-blog-index">
      <header class="md-typeset kb-blog-index__intro">
        <p class="kb-blog-index__eyebrow">Writing archive</p>
        <h1>{{ page.title }}</h1>
        {% if page.meta.description %}
          <p>{{ page.meta.description }}</p>
        {% endif %}
        {{ page.content }}
      </header>

      <ol class="kb-blog-index__posts" aria-label="博客文章">
        {% for post in posts %}
          <li class="kb-blog-index__entry">
            {% include "partials/post.html" %}
          </li>
        {% endfor %}
      </ol>

      {% if pagination %}
        {% block pagination %}
          {% include "partials/pagination.html" %}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
